html {
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(rgb(126, 29, 218, 1), #fee);
  margin: 150px auto;
  padding: 20px;
}

.form-container,
.list-container {
  width: 480px;
  background: white;
  padding: 0.5rem;
}
.form-container {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-container {
  list-style: none;
  height: 420px;
  align-items: center;
}
.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fee;
  margin-top: 10px;
  height: 30px;
  padding: 0 0.5rem;
  height: 50px;
}

#input-text {
  width: 410px;
  height: 35px;
  border: none;
}

#input-text:focus {
  outline: none !important;
  border-color: rgb(126, 29, 218);
  box-shadow: 0 0 3px rgb(126, 29, 218);
}

.btn {
  height: 30px;
  width: 60px;
  border: none;
  background: rgb(126, 29, 218);
  color: #fee;
}

.item-btn {
  color: rgb(126, 29, 218);
  border: none;
  background: transparent;
  font-weight: bold;
}
