html {
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(rgb(126, 29, 218, 1), #fee);
  margin: 150px auto;
  padding: 20px;
}
